/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333333;
  background-color: #f2f3f4;
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Hero Section Styles */
.hero {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}

.hero p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #333333;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.seo-analysis-form .form-group input[type="text"] {
  padding: 20px;
  flex-grow: 2;
  border-radius: 3px 0 0 3px;
  border: none;
  background-color: #333333;
  color: #ffffff;
  font-size: 18px;
  width: 65%;
}

.seo-analysis-form .form-group button {
  font-size: 18px;
  padding: 20px 0px;
  background-color: #ff7f00;
  color: #ffffff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  width: 35%;
}

#screenshotContainer {
  display: none;
  margin: 0 auto;
  max-width: 700px;
  transition: 2s ease-in-out;
  border-radius: 20px;
}
#screenshotContainer {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 450px;
  overflow: hidden;
  z-index: 10;
}
#screenshotContainer img {
  max-width: 100%;
  height: 100%;
}
div#webCapture {
  display: flex;
  position: absolute;
  top: 12.5%;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
img.screenCapture {
  width: 75%;
}
.laptop-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* laptop horizontal line */

/* result */

/* animations */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fade-in-up 0.5s ease-in-out;
}
@keyframes line-move {
  0% {
    top: 15%;
  }
  50% {
    top: 82%;
  }
  100% {
    top: 15%;
  }
}

.laptop-view {
  position: relative;
}

.horizontal-line {
  position: absolute;
  width: 74%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(199, 199, 199);

  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Fade-in transition */
}

.laptop-image {
  display: block;
  margin: 0 auto;
}

.laptop-view.loading .horizontal-line {
  opacity: 1; /* Show the line after image load */
  animation: line-move 2s linear infinite;
}

#result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
  .container {
    padding: 10px !important ;
  }
}
